header {
  background-color: darkolivegreen;
  color: aliceblue;
  display: flex;
  justify-content: space-evenly;
}

nav ul li {
  display: inline;
  margin-right: 15px;
  font-family: Roboto;
  font-weight: bold;
}

nav ul li a {
  text-decoration: none;
  list-style: none;
}
